*{
    box-sizing: border-box ;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}

#logo-menu {
    width: 75px;
  }

a{
  color: rgb(65, 61, 61);
  text-decoration: none;
}

.menu-btn img{
  position: absolute;
  cursor: pointer;
  width: 50px;
  top: 15px;
  right: 10px;
  z-index: 2;

}

ul{
  list-style: none;
}

#contenedor{
  width: 90%;
  margin: auto;
}

.menu-navegacion{
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
 position: fixed;
 background-color: rgb(140, 169, 172);
}

.logo{
  width: 60px;
}

.menu-navegacion ul{
  display: flex;
}

.menu-navegacion ul li{
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}

.menu-navegacion ul.menu-nav{
  flex: 1;
  margin-left: 10px;
}

.menu-navegacion ul li a{
  padding: 6px;
}

.menu-navegacion ul li a:hover{
  border-bottom: 2px solid rgb(65, 61, 61);
}


/*header {
    z-index: 2;
    position: sticky;
    list-style-type: none;
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    background: rgba(169, 199, 193, 0.952);
    
  }

#col-der {
    width: 93%;
    float: right;
  }
#col-izq {
    width: 2%;
    float: left;
  }

menu > a > li {
    display: inline;
    font-size: 130%;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    color: rgb(65, 61, 61);
   
  }

menu {
    text-align: center; 
  }

menu a{
  color: black;
  text-decoration: none;
  
  }
  

menu a:hover{
    color: black;
    text-decoration: underline;
    
  }


  /*body {
    
    background-color: rgba(190, 225, 225, 0.365);
    
    background-position: top left, center center, bottom right;
    background-size: 100%;
    background-repeat: no-repeat, no-repeat, repeat;
  }
  */

body{
    background-color: rgba(85, 131, 131, 0.549);
}
.RONDA{
    width: 100%;
    height: 1000px;
    background: url(./WhatsApp\ Image\ 2022-08-21\ at\ 5.38.16\ PM\ \(1\).jpeg) no-repeat center center/cover;
}
.RONDA h6{
    background-color: rgba(195, 232, 236, 0.587);
    width: 500px;
    border: 6px solid #45403b;
    padding: 10px;
    margin: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 180%;
    opacity: 80%;
}

  .RONDA h1 {
    color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    top: 15px;
    font-size: 500%;
    border-top: 100px;
    background-color: rgba(61, 79, 74, 0.373);
    opacity: calc(70%);
  }
  
  h2{
    font-size: 140%;
    background-color: rgba(61, 79, 74, 0.373);
    opacity: calc(70%);

    text-align: center;
    color: #f1f4f5;
    font-family: 'Comfortaa', cursive;
  }

  h4{
    background-color: rgba(195, 232, 236, 0.587);
    width: 500px;
    border: 10px solid #45403b;
    padding: 20px;
    margin: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 180%;
    opacity: 80%;
  }

 


.container h1{
  color: white;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 300%;
  border-top: 100px;
  background-color: rgba(61, 79, 74, 0.373);
  opacity: calc(70%);
}
#modelodecaja {
    background-image: url(./Diseño\ sin\ título.png);
    width: 500px;
    border: 10px solid #45403b;
    padding: 50px;
    margin: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 180%;
    opacity: 80%;
   
  }
  #nuestrosvalores{
    background-image: url(./Diseño\ sin\ título.png);
    width: 500px;
    border: 10px solid #45403b;
    padding: 10px;
    margin: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 180%;
    opacity: 80%;
  }

#modelodecaja2{
    background-color: rgba(195, 232, 236, 0.587);
    width: 500px;
    border: 10px solid #45403b;
    padding: 20px;
    margin: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 180%;
    opacity: 80%;
   
    

}

/*QUIENES SOMOS */
.letrasnuestras{
  color: white;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 300%;
  border-top: 100px;
  background-color: rgba(61, 79, 74, 0.373);
  opacity: calc(70%);
}
.nosotras{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    gap: 25px;
    margin-top: 50px;
    margin-left:  10px;
    margin-right: 10px;
    flex-direction: row;
}
.nosotras img{
    width: 100%;
    height: 180px;
    border: 5px solid #45403b;

    
}

.nosotras h6{
    background-color: rgba(195, 232, 236, 0.587);
    border: 5px solid #45403b;
    font-family: "Open Sans", sans-serif;
    font-size: 180%;
    opacity: 80%;
}



.contacto img{
    width: 40%;
    height: 100px;
    margin-left: 50px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    justify-content: center;

}

.contactanos{
    color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 300%;
    border-top: 100px;
    background-color: rgba(61, 79, 74, 0.373);
    opacity: calc(70%);
}

.temporizador{
    display:flex;
    justify-content: center;
    margin-top: 0px;
    background-color: rgba(61, 79, 74, 0.373);
}
.letras{
    color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 200%;
    border-top: 100px;
    background-color: rgba(61, 79, 74, 0.373);
    opacity: calc(70%);
    justify-content: center;

}

.letras h3{
  color: #45403b;
  background-image: url(./Diseño\ sin\ título.png);
    width: 100%;
    border: 10px solid #45403b;
    padding: 10px;
    margin: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    opacity: 80%;
}
.temporizador .bloque{
    margin: 20px 40px 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temporizador .bloque div{
    display: flex;
    justify-content: center;
    background-color: azure;
    align-items: center;
    box-shadow: 0px 0px 6px 4px #45403b inset;
    color: #45403b;
    font-size: 40px;
    font-weight: bold;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.temporizador .bloque p{
    font-size: 11px;
    font-weight: bold;
    color: #45403b;
}




@media  (max-width: 700px){
    .menu-navegacion ul.menu-nav{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #8ab5b0;
      height: 100%;
      padding: 30px;
      transform: translateX(-400px) ;
      transition: transform .5s ease-in-out;
      z-index: 2;
    }
.menu-navegacion ul.menu-nav.show{
  transform: translateX(-20px);
}

    .menu-navegacion ul.menu-nav li{
      padding: 20px;
      
    }
  
    .menu a li{
        padding: 20px;
     
        font-size: 14px;
    }
    .nosotras{
        grid-template-columns: repeat(2, 1fr);}
    .links{
        grid-template-columns: repeat(2, 2fr);
    }
    .contacto img{
      width: 50%;

    }
    .RONDA h6{
      background-color: rgba(195, 232, 236, 0.587);
      width: 250px;
      border: 6px solid #45403b;
      padding: 10px;
      margin: 10px;
      font-family: "Open Sans", sans-serif;
      font-size: 150%;
      opacity: 80%;
  }
}

@media (max-widht: 480px){
    .nosotras{
        grid-template-columns: repeat(2, 1fr);
    }
    .links{
        grid-template-columns: repeat(2, 1fr);

    }
    .contacto img{
      width: 50%;
    }
}


/* Para celular acomodar el contactanos, el H1 de contactanos, la cuenta regresiva y el recuadro de ronda es encuentro*/